:root {
    --base_color: #415094;
    --gradient_1: #7c32ff;
    --gradient_2: #A235EC;
    --gradient_3: #c738d8;
    --scroll_color: #7e7172;
    --text-color: #828bb2;
    --text_white: #ffffff;
    --bg_white: #ffffff;
    --text_black: #000000;
    --bg_black: #000000;
    --border_color: #ECEEF4;
    --input__bg: #ffffff;
    --success: #51A351;
    --warning: #E09079;
    --danger: #FF6D68;
}


body.admin {
  line-height: 24px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  overflow-x: hidden;
}

@media (max-width: 1199px) and (min-width: 992px) {
  body.admin {
    font-size: 11px;
    line-height: 22px;
  }
}

