<div th:fragment="navbar">


<nav id="sidebar" class="sidebar">
    <div class="sidebar-header update_sidebar">
        <a class="large_logo">
            <img src="https://infixbiz.ischooll.com/public/uploads/settings/logo.png">
        </a>
    </div>
    <ul>
        <li class="active">
            <a href="/home" aria-expanded="true">
                <div class="nav_icon_small">
                    <span class="fas fa-th"></span>
                </div>
                <div class="nav_title">
                    <span>
                        Dashboard
                    </span>
                </div>
            </a>
        </li>
        <li class="active">
            <a href="javascript:;" aria-expanded="true">
                <div class="nav_icon_small">
                    <span class="fas fa-th"></span>
                </div>
                <div class="nav_title">
                    <span>
                        Dashboard
                    </span>
                </div>
            </a>

            <ul>
                <li>
                    <a href="">Product List</a>
                </li>
                <li>
                    <a href="">Service</a>
                </li>
                <li>
                    <a href="http://localhost:8080/product/add">Add Product</a>
                </li>
                <li>
                    <a href="">Product List</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
</div>

